{% extends "base.html" %}
{% load i18n  %}
{% block content %}


    {% if user.is_authenticated  %}
        {{ user.username }}
        <h2 class="personal__navigate"><a href="{% url logout %}">{% trans 'Выход' %}</a></h2>
    {% endif %}
    <h2 class="personal__navigate">{% trans 'Войти в аккаунт' %}/<a href="{% url 'signup' %}">{% trans 'Регистрация' %}</a></h2>
        <form method="post" class="form">
            
        {% csrf_token %}
        {{ form.non_field_errors }}
        <p class="fieldWrapper">
            {{ form.username.errors }}
            <label for="{{ form.subject.id_for_label }}">{% trans 'Логин:' %}</label>
            {{ form.username }}
        </p>
        <p class="fieldWrapper">
            {{ form.password.errors }}
            <label for="{{ form.password1.id_for_label }}">{% trans 'Пароль:' %}</label>
            {{ form.password }}
        </p>
        

        <button type="submit"> {% trans 'Войти' %}</button>

    </form>
{% endblock content %}