
{% extends "main_page/page.html" %}
{% load i18n  %}

{% block bootstrap %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
{% endblock bootstrap %}

{% block content %}
    {% if user.is_authenticated %}
        <h2 class="personal__navigate">{{user.username}}/
            <a href="{% url 'logout' %}">{% trans 'Выйти' %}</a>/
            <a href=" {% url 'my_orders' %} ">{% trans 'Мои Заказы' %}</a>
        </h2>
    {% else %}
    <h2 class="personal__navigate">
        <a href="{% url 'login' %} ">{% trans 'Войти' %}</a>/
        <a href="{% url 'signup' %} ">{% trans 'Зарегестрироваться' %}</a>/
        
    </h2>
    {% endif %}
    <h3 class="text-center mt-5 mb-5">{% trans 'Ваша корзина' %} {% if not cart.products.count %}{% trans 'пуста'%}{% endif %}</h3>
    {% if cart.products.count %}
        <div class="cart">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{% trans 'Наименование меню' %}</th>
                    <th scope="col">{% trans 'Цена' %}</th>
                    <th scope="col">{% trans 'Кол-во:' %} </th>
                    <th scope="col">{% trans 'Цена со скидкой:' %}</th>
                    <th scope="col">{% trans 'Действие' %}:</th>
                  </tr>
                </thead>
                <tbody>
                    {% for item in cart.products.all  %}
                    <tr>
                        <th scope="row">{{item.product}}</th>
                        <td>{{ item.product.price }}  {% trans "сум." %} </td>
                        <td> 
                            <form action="{% url 'change_count' item.product.category.name item.product.category.gramm %}" method="POST">
                                {% csrf_token %}
        
                                <input type="number" class="form-control" name='count' value="{{item.count}}" style='width: 70px;' min='1'>
                                <br>
                                <input type="submit" class="btn btn-primary" value= '{% trans "Изменить колличество" %}' >
                            </form>    
                        </td>
                        <td> {{item.final_price}} </td>
                        <td> <a href=" {% url 'delete-from-cart' item.product.category.name item.product.category.gramm %} "><button class="btn btn-danger">{% trans 'Удалить из корзины' %} </button></a> </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="1"></td>
                        <td>{% trans 'Итого' %}:</td>
                        <td>{{ cart.total_products }} {% trans 'шт' %}.</td>
                        <td><strong>{{ cart.final_price }} сум.</strong></td>
                        <td><a href="{% url 'checkout' %} "><button class="btn btn-primary">{% trans 'Перейти к оформлению' %}</button></a></td>
                    </tr>
                </tbody>
              </table>
        </div>
    {% endif %}

{% endblock content %}