@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("../../fonts/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500") url("../../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../../fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.container {
  padding: 0px 50px;
}

.header {
  position: relative;
  z-index: 10;
  background: url("../../images/header_bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 300px;
}

.header__navigate {
  font-family: 'Museo Sans Cyrl 500';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
}

.header__navigate__box {
  color: #ffffff;
  font-size: 18px;
}

.header__navigate__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
  font-family: 'Museo Sans Cyrl 700';
  font-size: 20px;
}

.header__navigate__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 175px;
}

.header__navigate__button {
  margin: 0px 30.5px;
}

.header__navigate__call {
  border: 2px solid #FFC702;
  border-radius: 53px;
  padding: 21px 39px;
}

.header__slider {
  color: #ffffff;
  max-width: 696px;
  margin-left: 160px;
}

.header__slider h3 {
  font-size: 55px;
  margin-bottom: 30px;
  margin-top: 160px;
  font-family: 'Museo Sans Cyrl 700';
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.header__slider b {
  font-family: 'Museo Sans Cyrl 500';
}

.header__slider p {
  margin-top: 0;
  font-family: 'Museo Sans Cyrl 500';
}

.header__slider__item__button {
  color: #000000;
  background: #FFC702;
  border-radius: 53px;
  padding: 29px 37px;
  border: none;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 16px;
  margin-top: 33px;
}

.header__slider__item__button:hover {
  cursor: pointer;
}

#slider-1 .slick-list {
  overflow: hidden;
}

#slider-1 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slider-1 .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  -webkit-transform: translateY(-140px);
          transform: translateY(-140px);
}

#slider-1 .slick-arrow:hover {
  cursor: pointer;
}

#slider-1 .slick-next {
  background: url("../../images/next-arrow.svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  right: 5%;
}

#slider-1 .slick-prev {
  background: url("../../images/prev-arrow.svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  left: 5%;
}

#slider-1 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slider-1 .slick-dots li {
  list-style: none;
}

#slider-1 .slick-dots li.slick-active button {
  background: #FFC702;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  height: 5px;
}

#slider-1 .slick-dots button {
  font-size: 0;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 2px;
  width: 30px;
  height: 3px;
  margin: 0px 2.5px;
  border: none;
}

.slider {
  position: relative;
  z-index: 5;
}

.slider h2 {
  margin: 0 0 50px 150px;
  display: block;
  width: 558px;
  font-size: 35px;
  font-family: 'Museo Sans Cyrl 700';
}

.slider h2 b {
  color: #4C9162;
}

.slider__slick.slick__dots {
  position: absolute;
  background: #000;
}

.slider__slick__item {
  margin: 0px 15px;
}

.slider__slick__item:nth-child(15) .image__box {
  background: #C6E6D0;
  background-size: cover;
}

.slider__slick__item:nth-child(6) .image__box {
  background: #D5C3DD;
  background-size: cover;
}

.slider__slick__item:nth-child(7) .image__box {
  background: #C6E6D0;
  background-size: cover;
}

.slider__slick__item:nth-child(8) .image__box {
  background: #B9DEE0;
  background-size: cover;
}

.slider__slick__item:nth-child(9) .image__box {
  background: #F7F8DF;
  background-size: cover;
}

.slider__slick__item:nth-child(10) .image__box {
  background: #EBF4D7;
  background-size: cover;
}

.slider__slick__item:nth-child(11) .image__box {
  background: #D1E2E8;
  background-size: cover;
}

.slider__slick__item:nth-child(12) .image__box {
  background: #D5C3DD;
  background-size: cover;
}

.slider__slick__item:nth-child(13) .image__box {
  background: #C6E6D0;
  background-size: cover;
}

.slider__slick__item:nth-child(14) .image__box {
  background: #B9DEE0;
  background-size: cover;
}

.slider__slick__item .image__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
  height: 250px;
  border-radius: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__slick__item .discription {
  font-size: 20px;
  font-family: 'Museo Sans Cyrl 700';
  color: black;
  line-height: 23px;
}

.slider__slick__item .detailed {
  color: #4C9162;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 500';
}

.slider__slick__item .detailed:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 8.5px;
  height: 12px;
  background: url("../../images/green-arrow.svg");
  left: 14%;
  top: 1%;
}

#slider-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#slider-2 .slick-list {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

#slider-2 .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#slider-2 .slick-arrow {
  position: relative;
  z-index: 10;
  font-size: 0;
  width: 70px;
  height: 70px;
  top: -23px;
}

#slider-2 .slick-arrow:hover {
  cursor: pointer;
}

#slider-2 .slick-next {
  background: url("../../images/next-arrow-2.svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  left: 90%;
  top: -447px;
}

#slider-2 .slick-prev {
  background: url("../../images/prev-arrow-2.svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  left: 86.5%;
}

#slider-2 .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
}

#slider-2 .slick-dots li {
  list-style: none;
}

#slider-2 .slick-dots li.slick-active button {
  background: #FFC702;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  height: 5px;
}

#slider-2 .slick-dots button {
  font-size: 0;
  background: #E7E7E7;
  border-radius: 2px;
  width: 30px;
  height: 3px;
  margin: 0px 2.5px;
  border: none;
}

.calculate {
  margin: 80px 150px 17px 150px;
}

.calculate__header {
  font-size: 35px;
  font-family: 'Museo Sans Cyrl 700';
}

.calculate__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 13px 37px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 13px 37px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 30px;
}

.calculate__box__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calculate__box__item.first {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.calculate__box__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 13px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 27%;
          flex: 1 1 27%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.calculate__box__block__button {
  height: 160px;
  width: 225px;
  font-size: 18px;
  text-align: center;
  font-family: 'Museo Sans Cyrl 700';
  background: #FFC702;
  border-radius: 5px;
  border: none;
}

.calculate__box__block__7 {
  height: 100%;
}

.calculate__box__block .input {
  height: 56px;
  padding: 0px 30px;
  font-size: 16px;
  background: #FBFBFB;
  border: 1px solid #F7F7F7;
  border-radius: 28px;
}

.calculate__box__block .discription {
  font-size: 16px;
  color: #161716;
  font-family: 'Museo Sans Cyrl 700';
  margin-bottom: 10px;
}

.calculate__consultation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("../../images/consultation.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 120px;
  margin-top: 20px;
}

.calculate__consultation p {
  margin-right: 80px;
  margin-left: 237px;
  font-size: 23px;
  color: #ffffff;
  display: block;
  width: 497px;
  font-family: 'Museo Sans Cyrl 500';
  text-align: start;
}

.calculate__consultation p b {
  color: #FFC702;
}

.calculate__consultation a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 20px;
  line-height: 23px;
}

.calculate__consultation a:after {
  content: "";
  display: inline-block;
  position: relative;
  width: 8.5px;
  height: 14px;
  background: url("../../images/white-arrow.svg");
  background-repeat: no-repeat;
  left: 14%;
  top: 1%;
}

.programms {
  margin: 0px 150px;
  margin-bottom: 40px;
}

.programms__big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.programms__big__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 195px 15px 40px 15px;
  padding: 20px 0px 0px 23px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  height: 119px;
  border: 1px solid #4C9162;
  border-radius: 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.programms__big__block:hover {
  cursor: pointer;
}

.programms__big__block.active {
  background-color: #4C9162;
}

.programms__big__block.active label,
.programms__big__block.active p {
  color: #ffffff;
}

.programms__big__block.active .programms__big__block__item__choose:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../../images/tick-white.svg") no-repeat;
}

.programms__big__block.active a {
  color: #ffffff;
}

.programms__big__block.active:after {
  content: "";
  position: absolute;
  border: 20px solid transparent;
  border-top: 25px solid #4C9162;
  -webkit-transform: translate(90px, 118px);
          transform: translate(90px, 118px);
}

.programms__big__block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.programms__big__block__item__purpose {
  font-size: 16px;
  color: #000000;
  font-family: 'Museo Sans Cyrl 500';
}

.programms__big__block__item__discription {
  font-size: 14px;
  color: #000000;
  text-transform: uppercase;
  font-family: 'Museo Sans Cyrl 700';
  font-weight: bold;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
}

.programms__big__block__item__choose {
  display: inline-block;
  width: 117px;
  color: #4C9162;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 16px;
  text-align: center;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}

.programms__big__block__item__choose:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../../images/tick-green.svg") no-repeat;
  position: relative;
  left: -15px;
  top: 5px;
}

.programms__big__block__item.image {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.programms__small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.programms__small__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 14%;
          flex: 1 1 14%;
  background: #F8F8F8;
  border-radius: 5px;
  padding: 28px 0px 28px 26px;
  margin: 20px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.programms__small__items:hover {
  cursor: pointer;
}

.programms__small__items.active {
  background-color: #4C9162;
}

.programms__small__items.active p {
  color: #ffffff;
}

.programms__small__items__discription {
  font-size: 16px;
  margin-left: 20px;
  color: #323232;
  font-family: 'Museo Sans Cyrl 500';
}
/*# sourceMappingURL=style.css.map */