@font-face {
  font-family: 'Museo Sans Cyrl 500';
  src: url("../../fonts/MuseoSansCyrl-500.eot");
  src: local("MuseoSansCyrl-500") url("../../fonts/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../../fonts/MuseoSansCyrl-500.woff") format("woff"), url("../../fonts/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl 700';
  src: url("../../fonts/MuseoSansCyrl-700.eot");
  src: local("MuseoSansCyrl-700"), url("../../fonts/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../../fonts/MuseoSansCyrl-700.woff") format("woff"), url("../../fonts/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

.container {
  padding: 0px 90px;
}

.header {
  background: url("../../images/header_bg.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 160px;
}

.header__navigate {
  font-family: 'Museo Sans Cyrl 500';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
}

.header__navigate__box {
  color: #ffffff;
  font-size: 18px;
}

.header__navigate__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 37px;
  font-family: 'Museo Sans Cyrl 700';
  font-size: 20px;
}

.header__navigate__logo {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-right: 175px;
}

.header__navigate__button {
  margin: 0px 30.5px;
}

.header__navigate__call {
  border: 2px solid #FFC702;
  border-radius: 53px;
  padding: 21px 39px;
}

.header__slider {
  color: #ffffff;
  max-width: 696px;
  margin-left: 160px;
}

.header__slider h3 {
  font-size: 55px;
  margin-bottom: 30px;
  margin-top: 160px;
  font-family: 'Museo Sans Cyrl 700';
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.12);
}

.header__slider b {
  font-family: 'Museo Sans Cyrl 500';
}

.header__slider p {
  margin-top: 0;
  font-family: 'Museo Sans Cyrl 500';
}

.header__slider__item__button {
  color: #000000;
  background: #FFC702;
  border-radius: 53px;
  padding: 29px 37px;
  border: none;
  font-family: 'Museo Sans Cyrl 500';
  font-size: 16px;
  margin-top: 33px;
}

.header__slider__item__button:hover {
  cursor: pointer;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
}

.slick-arrow:hover {
  cursor: pointer;
}

.slick-next {
  background: url("../../images/next-arrow.svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  right: 5%;
}

.slick-prev {
  background: url("../../images/prev-arrow.svg");
  background-position: 0 0;
  background-size: auto;
  background-repeat: no-repeat;
  border: none;
  left: 5%;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-dots li {
  list-style: none;
}

.slick-dots li.slick-active button {
  background: #FFC702;
  -webkit-box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  height: 5px;
}

.slick-dots button {
  font-size: 0;
  background: rgba(255, 255, 255, 0.33);
  border-radius: 2px;
  width: 30px;
  height: 3px;
  margin: 0px 2.5px;
  border: none;
}
/*# sourceMappingURL=style.css.map */