{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Food</title>
    <link rel="stylesheet" href= " {% static 'style/css/style.css' %}" type="text/css">
</head>
<body>



   {% block content %}{% endblock %}


    <script type="text/javascript" src=" {% static 'scripts/jquery.js'  %}"></script>
    <script type="text/javascript" src=" {% static 'scripts/slick.min.js'  %}"></script>
    <script type="text/javascript" src=" {% static 'scripts/slider.js'  %}"></script>
    <script type="text/javascript" src=" {% static 'scripts/script.js'  %}"></script>
    
</body>
</html>