{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Food</title>
    
    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <meta name="apple-mobile-web-app-title" content="Healthy Food">
    <meta name="application-name" content="Healthy Food">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#4c9162">
    <!--OPEN GRAPH-->
    <meta property="og:image" content="favicon/og-image.jpg ">
    <meta property="og:image:width" content="1027">
    <meta property="og:image:height" content="538">
    <meta property="og:title" content="Healthy Food">
    <meta property="og:url" content="http://healthyfood.com">
    <meta property="og:description" content="Здоровое питание ресторанного качества с доставкой на дом!">






    <script src="https://kit.fontawesome.com/dea8ebbfdb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/style/css/normalize.css' %}">
    {% block bootstrap %}{% endblock bootstrap %}
    <link rel="stylesheet" href="{% static '/style/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/style/css/slick.css' %}">
    
</head>
<body>
    <div class="wrapper">
        <form action="{% if user.is_authenticated %}
        {% url 'make_message' %}
        {% else %}
        {% url 'login' %}
        {% endif %}" method="POST">

            {% csrf_token %}

        <div class="popup" id="popup">
            <div class="popup__body">
                <div class="popup__content">
                    <a href="" class="popup__close close-popup"><i class="far fa-times-circle"></i></a>
                    <div class="popup__title"><h2>Напишите свой вопрос и наш менеджер с вами свяжется</h2></div>
                    <div class="popup__input__block">
                        <textarea name="communication" id="" cols="30" rows="10" placeholder="Введите ваше сообщение" class="popup__input"></textarea>
                    </div>
                    <div class="popup__input__block">
                       <input type="submit" value="Отправить сообщение" class="popup__button">
                    </div>
                </div>
            </div>
        </div>
     </form>
    
    
        <header class="header">
            
             <nav class="header__navigate">
                 <div class="header__navigate__block menu-burger">
                    <div class="header__navigate__box header__navigate__logo">
                        <img id='header_logo' src="{% static '/images/logo.svg' %}" alt="Healthy Food">
                    </div>
                    <div class="header__navigate__burger">
                        <span></span>
                    </div>
                </div>
                 <div class="header__navigate__menuburger">
                    <div class="header__navigate__block">
                        <div class="header__navigate__box header__navigate__button">
                            <a class="header__navigate__box__name" href="{% url 'headers' %}">Меню и тарифы</a>
                           </div>
                        <div class="header__navigate__box header__navigate__button">
                            <a class="header__navigate__box__name" href="{% url 'blog' %}">Блог</a>
                       </div>
                        <div class="header__navigate__box header__navigate__button">
                            <a class="header__navigate__box__name" href=" {% if user.is_authenticated %}
                            {% url 'account' %}
                            {% else %}
                                {% url 'login' %}
                            {% endif %} ">Личный кабинет</a>
                       </div>
                     </div>
                    <div class="header__navigate__block">
                        <div class="header__navigate__box header__navigate__social">
                            <a href=""><img src="{% static '/images/telegram.svg'%}" alt=""></a>
                            <a href=""><img src="{% static 'images/instagram.svg' %}" alt=""></a>
                            <a href=""><img src="{% static 'images/whatsapp.svg' %}" alt=""></a>
                        </div>
                        <div class="header__navigate__box header__navigate__phone">
                            <img src="{% static '/images/phone-ico.svg' %}" alt="">
                            <p>+7 (906) 255 - 32 - 66</p>
                        </div>
                            <a id="popup" href="#popup" class="popup-link">
                                <button class="header__navigate__box header__navigate__call">Перезвонить мне</button>
                            </a>
    
                    </div>
                 
                </nav>
                
             {% block headerslider %}
               
             {% endblock headerslider %}
            
         </header>
    
    
         {% block content %}{% endblock content %}
        <footer class="footer">
            <div class="footer__block">
                <div class="footer__block__item logo">
                    <img src="{% static '/images/logo.svg' %}" alt="" class="logo">
                    <p class="direct">Все права защищены. 2020. </p>
                </div>
                <div class="footer__block__item nav" id='#footer'>
                    <p class="nav__header">Навигация</p>
                    <a href="{% url 'headers' %}" class="nav__item">Меню и тарифы</a>
                    <a href="{% url 'blog' %}" class="nav__item">Блог</a>
                    <a href="{% url 'account' %}" class="nav__item">Личный кабинет</a>
                    <a href="#calculator" class="nav__item">Калькулятор питания</a>
                    <a href="#header_logo" class="nav__item">Карта сайта</a>
                </div>
                <div class="footer__block__item menu">
                    <p class="menu__header">Выбор меню</p>
                    {% for item in programms_small  %}
                        <a class="menu__item" href="{% url 'menu' item.category.slug %}#menu">{{item.name}} </a> 
                    {% endfor %}
                </div>
                <div class="footer__block__item contacts">
                    <p class="contacts__header">Наши контакты</p>
                    <a href="" class="contacts__phone">+7 (906) 255 - 32 - 66</a>
                    <a href="" class="contacts__mail">healthyfood@info.ru</a>
                    <div class="contacts__social">
                        <a href=""><img src="{% static '/images/telegram.svg'%}" alt=""></a>
                        <a href=""><img src="{% static 'images/instagram.svg' %}" alt=""></a>
                        <a href=""><img src="{% static 'images/whatsapp.svg' %}" alt=""></a>
                    </div>
                    <a href="" class="contacts__politic">Политика конфиденциальности</a>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer__block__item mission">
                    <p class="mission__header">Мисия компании:</p>
                    <p class="mission__text">С другой стороны укрепление и развитие структуры позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации.</p>
                </div>
            </div>
        </footer>
    

    </div>
        <script type="text/javascript" src="{%static '/scripts/jquery.js' %}"></script>
        <script type="text/javascript" src="{%static '/scripts/slick.min.js' %}"></script>
        <script type="text/javascript" src="{%static '/scripts/slider.js' %}"></script>
        <script type="text/javascript" src="{%static '/scripts/script.js' %}"></script>
        <script type="text/javascript" src="{%static '/scripts/popup.js' %}"></script>
</body>
</html>