{% load static %}
{% load i18n  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Food</title>
    
    <!--FAVICON-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/favicon/site.webmanifest' %}">
    <meta name="apple-mobile-web-app-title" content="Healthy Food">
    <meta name="application-name" content="Healthy Food">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#4c9162">
    <!--OPEN GRAPH-->
    <meta property="og:image" content="http://mshevdrdin123.pythonanywhere.com/favicon/og-image.jpg ">
    <meta property="og:image:width" content="1027">
    <meta property="og:image:height" content="538">
    <meta property="og:title" content="Healthy Food">
    <meta property="og:url" content="http://healthyfood.com">
    <meta property="og:description" content="Здоровое питание ресторанного качества с доставкой на дом!">






    <script src="https://kit.fontawesome.com/dea8ebbfdb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static '/style/css/normalize.css' %}">
    {% block bootstrap %}{% endblock bootstrap %}
    <link rel="stylesheet" href="{% static '/style/css/slick.css' %}">
    <link rel="stylesheet" href="{% static '/style/css/style.css' %}">
    <script type="text/javascript" src="{%static '/scripts/jquery.js' %}"></script>
    
    
</head>
<body>
    <div class="wrapper">
        <form action="{% if user.is_authenticated %}
        {% url 'make_message' %}
        {% else %}
        {% url 'login' %}
        {% endif %}" method="POST">

            {% csrf_token %}

        <div class="popup" id="popup">
            <div class="popup__body">
                <div class="popup__content">
                    <a href="" class="popup__close close-popup"><i class="far fa-times-circle"></i></a>
                    <div class="popup__title"><h2>{% trans 'Напишите свой вопрос и наш менеджер с вами свяжется' %}</h2></div>
                    <div class="popup__input__block">
                        <label for="phone" class="popup__lable">{% trans 'Введите ваше Ф.И.О.' %} </label>
                        <input name="name" id="name"  placeholder="Иванов Иван Иванович" class="popup__input" required>
                    </div>
                    <div class="popup__input__block">
                        <label for="phone" class="popup__lable">{% trans 'Оставьте ваш номер телефона, чтобы мы могли связаться с вами' %}</label>
                        <input name="phone" id="phone"  placeholder="+998(___)-__-__" class="popup__input" required> 
                    </div>
                    <div class="popup__input__block">
                        <textarea name="communication" id="" cols="30" rows="10" placeholder="Введите ваше сообщение" class="popup__textarea" required></textarea>
                    </div>
                    <div class="popup__input__block">
                       <input type="submit" value="Отправить сообщение" class="popup__button">
                    </div>
                </div>
            </div>
        </div>
     </form>
    
    
        <header class="header">
            
             <nav class="header__navigate">
                 <div class="header__navigate__block menu-burger">
                    <div class="header__navigate__box header__navigate__logo">
                        <a href="/"><img id='header_logo' src="{% static '/images/logo.svg' %}" alt="Healthy Food"></a>
                    </div>
                    <div class="header__navigate__burger">
                        <span></span>
                    </div>
                </div>
                 <div class="header__navigate__menuburger">
                    <div class="header__navigate__block">
                       
                        <div class="header__navigate__box header__navigate__button">
                            <a class="header__navigate__box__name" href="{% url 'headers' %}">{% trans 'Меню и тарифы' %}</a>
                        </div>
                        <div class="header__navigate__box header__navigate__button">
                            <a class="header__navigate__box__name" href="{% url 'blog' %}">{% trans 'Блог' %}</a>
                       </div>
                        <div class="header__navigate__box header__navigate__button">
                            <a class="header__navigate__box__name" href=" {% if user.is_authenticated %}
                            {% url 'account' %}
                            {% else %}
                                {% url 'login' %}
                            {% endif %} ">{% trans 'Личный кабинет' %}</a>
                       </div>
                     </div>
                    <div class="header__navigate__block">
                        <div class="header__navigate__box header__navigate__social">
                            <a href="https://t.me/Healthyfoodtashkent"><img src="{% static '/images/telegram.svg'%}" alt=""></a>
                            <a href="https://www.facebook.com/healthyfooduz"><img src="{% static 'images/instagram.svg' %}" alt=""></a>
                            <a href="https://www.instagram.com/healthyfood.uz/"><img src="{% static 'images/whatsapp.svg' %}" alt=""></a>
                        </div>
                        <div class="header__navigate__box header__navigate__phone">
                            <img src="{% static '/images/phone-ico.svg' %}" alt="">
                            <a  href="tel:+998998550003" >+998998550003</a >
                        </div>
                            <a id="popup" href="#popup" class="popup-link">
                                <button class="header__navigate__box header__navigate__call">{% trans 'Перезвонить мне' %}</button>
                            </a>
    
                    </div>
                 
                </nav>
                <div class="container2">
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input type="text" type="hidden" class="hide" value="{{ redirect_to }}">
                        <div class="language">
                            <select name="language">
                                {%  get_current_language as LANGUAGE_CODE %}
                                {%  get_available_languages as LANGUAGES %}
                                {%  get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option  class="language__item" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                                                selected{% endif %}>
                                            {{ language.name_local }} ({{ language.code}})
                                            
                                    </option>
                                {% endfor %}
                                
                            </select>
                        </div>
                        <input type="submit" value="Go" class="language__button">

                    </form>
                </div>
             
                {% include "include/header_slider.html" %}
         </header>
    
         <div class="page">
            
            {% block content %}{% endblock content %}   
         </div>
         
        <footer class="footer">
            <div class="footer__block">
                <div class="footer__block__item logo">
                    <a href="/"><img src="{% static '/images/logo.svg' %}" alt="" class="logo"></a>
                    <p class="direct">{% trans 'Все права защищены. 2020.' %}</p>
                </div>
                <div class="footer__block__item nav" id='#footer'>
                    <p class="nav__header">{% trans 'Навигация' %}</p>
                    <a href="{% url 'headers' %}" class="nav__item">{% trans 'Меню и тарифы' %}</a>
                    <a href="{% url 'blog' %}" class="nav__item">{% trans 'Блог' %}</a>
                    <a href="{% if user.is_authenticated %}
                    {% url 'account' %}
                    {% else %}
                    {% url 'login' %}
                    {% endif %}" class="nav__item">{% trans 'Личный кабинет' %}</a>
                    <a href="{% url 'headers' %}#calculator" class="nav__item">{% trans 'Калькулятор питания' %}</a>
                    <a href="#header_logo" class="nav__item">{% trans 'Карта сайта' %}</a>
                </div>
                <div class="footer__block__item menu">
                    <p class="menu__header">Выбор меню</p>
                        <a class="menu__item" href=" #programms ">{% trans 'Снижение веса' %} </a> 
                        <a class="menu__item" href="#programms">{% trans 'Для спортсменов' %}</a> 
                        <a class="menu__item" href="#programms">{% trans 'Сбалансированное питание' %}</a> 
                        <a class="menu__item" href="#programms">{% trans 'Индивидуальное питание' %} </a> 
                        <a class="menu__item" href="#programms">{% trans 'Сахарный диабет' %} </a> 
                        <a class="menu__item" href="#programms">{% trans 'Питание при заболеваниях' %} </a> 
                        <a class="menu__item" href="#programms">{% trans 'Вегетарианское меню' %} </a> 
                        <a class="menu__item" href="#programms">{% trans 'Белковая диета' %} </a> 
                        <a class="menu__item" href="#programms">{% trans 'ОФИС ПАКЕТ' %} </a> 
                        <a class="menu__item" href="#programms">{% trans 'VIP-меню' %} </a> 
                </div>
                <div class="footer__block__item contacts">
                    <p class="contacts__header">{% trans 'Наши контакты' %}</p>
                    <div class="contacts__contacts">
                        <a href="tel:+998998550003" class="contacts__phone">+998998550003</a>
                        <a href="mailto:healthyfood@info.ru" class="contacts__mail">healthyfood@info.ru</a>
                    </div>
                    <div class="contacts__social">
                        <a href="https://t.me/Healthyfoodtashkent"><img src="{% static '/images/telegram.svg'%}" alt=""></a>
                        <a href="https://www.facebook.com/healthyfooduz"><img src="{% static 'images/instagram.svg' %}" alt=""></a>
                        <a href="https://www.instagram.com/healthyfood.uz/"><img src="{% static 'images/whatsapp.svg' %}" alt=""></a>
                    </div>
                    <a href="" class="contacts__politic">{% trans 'Политика конфиденциальности' %}</a>
                </div>
            </div>
            <div class="footer__block">
                <div class="footer__block__item mission">
                    <p class="mission__header">{% trans 'Мисия компании:' %}</p>
                    <p class="mission__text">{% trans 'С другой стороны укрепление и развитие структуры позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что начало повседневной работы по формированию позиции в значительной степени обуславливает создание соответствующий условий активизации.' %}</p>
                </div>
            </div>
        </footer>
    

    </div>
        
        <script type="text/javascript" src="{%static '/scripts/slick.min.js' %}"></script>
        <script type="text/javascript" src="{%static '/scripts/slider.js' %}"></script>
        <script type="text/javascript" src="{%static '/scripts/script.js' %}"></script>
        <script type="text/javascript" src="{%static '/scripts/popup.js' %}"></script>
</body>
</html>